{% extends 'base.html.twig' %}

{% block title %} Regards {% endblock %}

{% block body %}
    {% include 'header/_header.html.twig' %}
<main class="bg_color">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto">
                <h1 class="fw-light">About Products</h1>
                <p class="lead text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                </p>

            </div>
        </div>
    </section>

    <div class="album py-5 ">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://img.freepik.com/photos-gratuite/composition-produits-auto-soins-naturels-plat_23-2148990019.jpg?w=2000">
                        <div class="card-body">
                            <h5>Product</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'footer/_footer.html.twig' %}


{% endblock %}