{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% include 'header/_header.html.twig' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <main class="form-signin w-100 m-auto ">
        <form action="{{ path('app_login') }}" method="post" class="login_form" >
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


            <div class="checkbox mb-3">
                <label for="username">Username :</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>

            <div class="checkbox mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-dark">login</button>

        </form>
    </main>



{% endblock %}